{
  "root": true,
  "ignorePatterns": [
    "projects/**/*"
  ],
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
      "parserOptions": {
        "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
        "sourceType": "module", // Allows for the use of imports
        "tsconfigRootDir": ".",
        // see notes.md for script to regenerate list of tsconfig files below
        "project": [
          "tsconfig.esm.json",
          "./src/code/adapter-sets/record/tsconfig-rev-record.json",
          "./src/code/adapter-sets/simple/tsconfig-rev-simple.json",
          "./src/code/standard-cell-paint/tsconfig-standard-cell-paint.json",
          "./src/code/grid/tsconfig-grid.json",
          "./src/code/grid/behavior/tsconfig-grid-behavior.json",
          "./src/code/grid/behavior/ui/tsconfig-grid-behavior-ui.json",
          "./src/code/grid/behavior/component/tsconfig-grid-behavior-component.json",
          "./src/code/grid/components/tsconfig-grid-components.json",
          "./src/code/grid/components/canvas-ex/tsconfig-grid-components-canvas-ex.json",
          "./src/code/grid/components/cell/tsconfig-grid-components-cell.json",
          "./src/code/grid/components/column/tsconfig-grid-components-column.json",
          "./src/code/grid/components/focus/tsconfig-grid-components-focus.json",
          "./src/code/grid/components/event/tsconfig-grid-components-event.json",
          "./src/code/grid/components/model-callback-router/tsconfig-grid-components-model-callback-router.json",
          "./src/code/grid/components/mouse/tsconfig-grid-components-mouse.json",
          "./src/code/grid/components/renderer/tsconfig-grid-components-renderer.json",
          "./src/code/grid/components/renderer/grid-painter/tsconfig-grid-components-renderer-grid-painter.json",
          "./src/code/grid/components/subgrid/tsconfig-grid-components-subgrid.json",
          "./src/code/grid/components/view/tsconfig-grid-components-view.json",
          "./src/code/grid/components/selection/tsconfig-grid-components-selection.json",
          "./src/code/grid/components/scroller/tsconfig-grid-components-scroller.json",
          "./src/code/grid/settings-accessors/tsconfig-grid-settings-accessors.json",
          "./src/code/grid/interfaces/tsconfig-grid-interfaces.json",
          "./src/code/grid/effects/tsconfig-effects.json",
          "./src/code/grid/lib/tsconfig-grid-lib.json",
          "./src/code/grid/renderer/tsconfig-grid-renderer.json" // to be removed
        ]
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended" // Uses the recommended rules from @typescript-eslint/eslint-plugin
        // "plugin:@typescript-eslint/recommended-requiring-type-checking"
        // "plugin:@typescript-eslint/strict"
      ],
      "rules": {
        "no-fallthrough":"error",
        "no-underscore-dangle": "off",
        "prefer-arrow/prefer-arrow-functions": "off",
        "newline-after-description": "off",
        "@typescript-eslint/consistent-type-definitions": "error",
        "@typescript-eslint/quotes": [
          "error",
          "single",
          {
            "avoidEscape": true,
            "allowTemplateLiterals": true
          }
        ],
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/naming-convention": [
          "error",
          {
            "selector": "enumMember",
            "format": null
          }
        ],
        "@typescript-eslint/dot-notation": "off",
        "@typescript-eslint/explicit-member-accessibility": [
          "off",
          {
            "accessibility": "explicit"
          }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
          "warn",
          { "args": "none", "varsIgnorePattern": "[iI]gnored", "argsIgnorePattern": "^_" }
        ],
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-explicit-any": "error",
        "brace-style": [
          "error",
          "1tbs", { "allowSingleLine": true }
        ],
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/prefer-for-of": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": [
          "error",
          { "ignoreTypeValueShadow": true }
        ],
        "no-return-await": "off",
        "@typescript-eslint/return-await": "error",
        "@typescript-eslint/no-invalid-void-type": [
          "warn",
          { "allowAsThisParameter": true }
        ],
        "no-inner-declarations": "off"
      }
    }
  ]
}
