div.finbar-horizontal,
div.finbar-vertical {
    margin: 3px;
}
div.finbar-horizontal > .thumb,
div.finbar-vertical > .thumb {
    background-color: #d3d3d3;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
    border-radius: 4px;
    margin: 2px;
    opacity: 0.4;
    transition: opacity 0.5s;
}
div.finbar-horizontal > .thumb.hover,
div.finbar-vertical > .thumb.hover {
    opacity: 1;
    transition: opacity 0.5s;
}
div.finbar-vertical {
    top: 0;
    bottom: 0;
    right: 0;
    width: 11px;
}
div.finbar-vertical > .thumb {
    top: 0;
    right: 0;
    width: 7px;
}
div.finbar-horizontal {
    left: 0;
    right: 0;
    bottom: 0;
    height: 11px;
}
div.finbar-horizontal > .thumb {
    left: 0;
    bottom: 0;
    height: 7px;
}
